/* Estilos Globales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Fondo claro */
    color: #333; /* Texto oscuro */
    text-align: center;
}

/* Estilo del logo */
.logo {
    position: absolute;
    top: 20px;
    left: 20px; /* Alineado a la izquierda */
    width: 150px; /* Tamaño más grande del logo */
    height: auto;
}

/* Encabezado principal */
h1 {
    color: #2c3e50;
    font-size: 25px;
    margin-top: 50px; /* Elevar el título */
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Estilos del menú */
#menu {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
}

#menu h3 {
    font-size: 1.8em;
    color: #34495e;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* Estilo de los enlaces */
#menu a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    font-size: 1.2em;
    color: #ffffff; /* Texto blanco */
    padding: 12px;
    border-radius: 8px;
    background-color: #2980b9; /* Azul elegante */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Efectos de hover y active */
#menu a:hover {
    background-color: #3498db; /* Azul más claro */
    transform: scale(1.05); /* Zoom sutil */
}

#menu a:active {
    background-color: #1f648b; /* Azul más oscuro */
}
